html,body,.container {
    height:100%;
}

.nav {
	border-bottom: 4px solid #e5eaf0;
}

.container {
    display:table;
    width: 100%;
    box-sizing: border-box;
}


.pane {
	background: rgb(246, 248, 250);
}

.full-row {
    height: 100%;
    display: table-row;
}



@media only screen and (max-width: 500px) {
  .full-row .no-float {
    display: table-header-group;
    float: none;
  }

}

@media only screen and (min-width: 768px) {
  .full-row .no-float {
    display: table-cell;
    float: none;
  }

}




.border-between > [class*='col-']:before {
   background: rgb(225, 229, 234);
   bottom: 0;
   content: " ";
   left: 0;
   position: absolute;
   width: 4px;
   top: 0;
}

.border-between > [class*='col-']:first-child:before {
   display: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.correct {
  background: #f5f5f5;
}
