{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
	<h3><a href="#">dev/null.AI</a>:&nbsp;&nbsp;Text2Code Test Page</h3>
	<form action="{{ url_for('text2code_page') }}" method="post" name="form" id="form">
		<table border="0" width=100%>
			<tr valign="bottom">
				<td width="3%">&nbsp;</td>
				<td width="35%" align="center">
					<code>Text:</code></br>
					<textarea name="text" id="text" rows="30" cols="80">{{ text|safe }}</textarea>
				</td>
				<td width="14%" align="center">
					<input type="submit" name="submit" id="submit" value="&gt;&gt;&gt; CODE2TEXT &gt;&gt;&gt;"/>
				</td>
				<td width="35%" align="center">
					<code>Code:</code></br>
					<textarea name="code" id="code" rows="30" cols="80"{{ ' disabled="disabled"' if text_disabled }}>{{ code|safe }}</textarea>
				</td>
				<td width="3%">&nbsp;</td>
			</tr>
		<table>
	</form>
{% endblock %}
